body{
    background-color: #253965;
    color:white;
    font-style:normal;
    font-family: 'Noto Sans JP', sans-serif;
}
/*--------------------------------------------------*/
.top-bar{
    width:100px;
    margin-left:auto;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
.top-bar a{
    text-decoration: none;
    color:gray;
}

.top-bar a:hover{
    transition: 0.5s;
    color:white
}

.top-bar #current{
    color:white;
}
/* top-bar=>右上のホーム、実績、開発のクラス*/
/*--------------------------------------------------*/
.top{
    padding-bottom:10%;
    background-color:#336633;
}