body{
    background-color:#253965;
    color:white;
    font-style:normal;
    font-family: 'Noto Sans JP', sans-serif;
}

/*--------------------------------------------------*/
.top-bar{
    width:100px;
    margin-left:auto;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

.top-bar a{
    text-decoration: none;
    color:gray;
}

.top-bar a:hover{
    transition: 0.5s;
    color:white
}

.top-bar #current{
    color:white;
}
/* top-bar=>右上のホーム、実績、開発のクラス*/
/*--------------------------------------------------*/
.title{
    margin-top:2em;
    margin-left:3em;
}

ul{
    list-style: none;
} /*ulの・を無効化*/

.fa-check{
    margin-left:8em;
    margin-right:1em;
} /*チェックのmariginを指定*/

.border{border-bottom:solid 1px white;}

a{text-decoration:none;}

.project{
    color:white;
    font-size:1.2em;
} /*projectの内容の色及びフォントサイズを指定*/

.project:hover{border-bottom:solid 1px white;} /*hoverでリンクへ移動*/