body{
    background-color: #253965;
    color:white;
    font-style:normal;
    font-family: 'Noto Sans JP', sans-serif;
}
/*--------------------------------------------------*/
.top-bar{
    width:100px;
    margin-left:auto;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

.top-bar a{
    text-decoration: none;
    color:gray;
}
.top-bar a:hover{
    transition: 0.5s;
    color:white
}

.top-bar #current{
    color:white;
}
/* top-bar=>右上のホーム、実績、開発のクラス*/
/*--------------------------------------------------*/
.title{
    margin-top: 2em;
    margin-left: 10%;
}

a{text-decoration: none;}

.detail{
    margin:0 14%;
    word-wrap: break-word;
}
.name{
    margin-top:2em;
    margin-left:13%;
}
.icon{
    margin:0.5em 0 0 0.5em;
    color:gray;
}
.icon-first{
    margin:0.5em 0 0 14%;
    color:gray;
}
.github:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition:0.5s;
    color:black;
}
.twitter:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition:0.5s;
    color:#2997FF;
}
.home:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition:0.5s;
    color:white;
}

.border{border-bottom:solid 1px white;}